<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DecoApp4</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <!--<link rel="stylesheet" href="~/DecoApp2.styles.css" asp-append-version="true" />-->

    <link href="https://code.jquery.com/ui/1.13.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            
            <a asp-controller="Home"  asp-action="Index"><img src="/css/logo2.png" height="75%" /></a>
        </div>
        <div id="tituloPrincipal">
            <label id="tit">DECOAPP</label>
        </div>
    </header>
    <main role="main" id="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2023 - DecoApp
        </div>
    </footer>
    <script src="~/css/Funciones.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
